@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply min-h-screen;
  }
  body {
    @apply h-full overflow-x-hidden bg-secondaryColorLightD2 dark:bg-secondaryColorDarkD2;
  }
}

@layer components {
  .icons {
    @apply grid text-center;
    grid-auto-rows: auto;
    grid-auto-columns: max-content;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .nav-mobile {
    @apply fixed w-[98%] z-10 dark:bg-secondaryColorDark bg-secondaryColorLight top-0 right-0 hidden m-0;
  }

  .hidden-scroll::-webkit-scrollbar {
    height: 0;
  }

  .link {
    @apply text-linkLight hover:text-linkHoverLight dark:text-linkDark dark:hover:text-linkHoverDark cursor-pointer;
  }

  .badge-red {
    @apply bg-errorLight text-white font-medium text-[12px] w-auto h-auto min-h-5 min-w-5 px-2 flex justify-center items-center rounded-full;
  }

  .tag-blue {
    @apply bg-linkLight/20 text-linkLight border-linkLight/20 dark:bg-linkDark/20 dark:text-linkDark dark:border-linkDark/30;
  }

  .tag-red {
    @apply bg-errorLight/20 text-errorLight border-errorLight/20 dark:bg-errorDark/20 dark:text-errorDark dark:border-errorDark/30;
  }
}

::-webkit-scrollbar {
  @apply w-[7px] h-[7px];
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-md bg-secondaryColorDark/35 dark:bg-secondaryColorLight;
}
