@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icons {
    @apply grid text-center;
    grid-auto-rows: auto;
    grid-auto-columns: max-content;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

